In [39]:
# DEVOIR 2 - QUESTION 2
# PARTIE A: NETTOYAGE DES DONNÉES
import csv
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv("CSV Raw Data/40.csv")
df.head()

        Country Average yearly temperature (1961–1990, Celsius)
0  Burkina Faso                                           28.29
1          Mali                                           28.25
2      Kiribati                                           28.20
3      Djibouti                                           28.00
4        Tuvalu                                           28.00

In [83]:
df = df.iloc[0:,[0,1]]
df

          Country Average yearly temperature (1961–1990, Celsius)
0    Burkina Faso                                           28.29
1            Mali                                           28.25
2        Kiribati                                           28.20
3        Djibouti                                           28.00
4          Tuvalu                                           28.00
..            ...                                             ...
186    Kyrgyzstan                                           01.55
187        Norway                                           01.50
188      Mongolia                                           −0.70
189        Russia                                           −5.10
190        Canada                                           −5.35

[191 rows x 2 columns]

In [84]:
df.iloc[:,-1].count()

191