In [2]:
# DEVOIR 2 - QUESTION 2
# PARTIE A: NETTOYAGE DES DONNÉES
import csv
import numpy as np
import pandas as pd

In [46]:
df = pd.read_csv("CSV Raw Data/20.csv")
df.head()

               Country   All  Male  Female
0          Afghanistan   6.0   6.2     5.7
1              Albania   3.7   5.3     2.2
2              Algeria   2.6   3.3     1.9
3               Angola  12.6  21.7     4.7
4  Antigua and Barbuda   0.3   0.0     0.6

In [47]:
df = df.iloc[0:,[0,1]]
df

                   Country   All
0              Afghanistan   6.0
1                  Albania   3.7
2                  Algeria   2.6
3                   Angola  12.6
4      Antigua and Barbuda   0.3
..                     ...   ...
184               Americas   9.0
185        South-East Asia  10.2
186                 Europe  10.5
187  Eastern Mediterranean   6.4
188        Western Pacific   7.2

[189 rows x 2 columns]

In [48]:
df.iloc[:,-1].count()

189