In [1]:
import numpy as np
import pandas as pd

In [2]:
# CREATE A MATRIX OF THE NAME OF COUNTRIES
df_country = pd.read_csv('countries.csv')
df_country.head()

           NAME 1 NAME 2 NAME 3 NAME 4 NAME 5
0     Afghanistan    NaN    NaN    NaN    NaN
1          Africa    NaN    NaN    NaN    NaN
2         Albania    NaN    NaN    NaN    NaN
3         Algeria    NaN    NaN    NaN    NaN
4  American Samoa    NaN    NaN    NaN    NaN